/* Variables */
:root {
    --fuentePrincipal: 'Assistant', sans-serif;
    --verde: #71B100;
    --verdeOscuro: #618f10;
    --amarillo: #E08709;
    --amarilloOscuro: #b57317;
    --rojo: rgb(218, 19, 19);
    --rojoOscuro: rgb(165, 14, 14);
    --negro: #000000;
    --blanco: #FFFFFF;
    --gris: #e1e1e1;
    --grisOscuro: #333333;
    --espacio: 5rem;
    --oscuroDarkMode: #1e1c1c;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
[class$="enlace"] {
    color: var(--blanco);
    padding: 1rem 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2rem;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
}
[class$="enlace"]:hover {
    cursor: pointer;
}
[class$="precio"] {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--verde);
    margin: 0 0 1.5rem 0;
}

/* Tipografias */
h1, h2, h3 {
    margin: 0 0 calc( var(--espacio) / 2 ) 0;
}
h1, h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
}
a {
    text-decoration: none;
}
p {
    font-size: 1.8rem;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}




/* --------------- > HEADER < --------------- */
.header {
    background-color: var(--grisOscuro);
    padding: 5rem;
    min-height: 20rem;
}
@media(min-width: 924px) {
    .header .inicio{
        background-position: center;
    }
}
.notwebp.notavif .inicio {
    background-image: url(../src/img/header.jpg);
}
.webp .inicio {
    background-image: url(../src/img/header.webp);
}
.inicio {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 40rem;
}
@media(min-width: 768px) {
    .inicio {
        min-height: 50rem;
    }
}
.header__heading {
    color: var(--blanco);
}
@media(min-width: 768px) {
    .header__heading {
        max-width: 50rem;
    }
}
.header-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40rem;
}
@media(min-width: 768px) {
    .header-contenido {
        min-height: 50rem;
    }
}
@media(min-width: 924px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.barra__img {
    height: 5rem;
    margin: 0 auto calc(var(--espacio) / 2) auto;
}
@media(min-width: 924px) {
    .barra__img {
        margin: 0 auto;
    }
}
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
@media(min-width: 924px) {
    .menu-hamburguesa {
        display: none;
    }
}
.menu-hamburguesa__heading{
    margin-bottom: 0;
    color: var(--blanco);
    font-size: 3rem;
}
.menu-hamburguesa__img {
    height: 5rem;
}
.menu-hamburguesa__img:hover {
    cursor: pointer;
}
/* DARKMODE - GLOBAL */
.dark-mode-img {
    width: 3rem;
    margin: 0 auto 1rem auto;
    filter: invert(100%);
}
.dark-mode-img:hover {
    cursor: pointer;
}
@media(min-width: 924px) {
    .dark-mode-img {
        margin: 0 0 1rem auto;
    }
}
.dark-mode {
    background-color: var(--oscuroDarkMode);
}
.dark-mode p:not([class$="precio"]) {
    color: var(--gris);
}
.dark-mode a {
    color: var(--gris);
} 
.dark-mode h1 {
    color: var(--gris);
} 
.dark-mode h2 {
    color: var(--gris);
} 
.dark-mode h3 {
    color: var(--gris);
}
.dark-mode blockquote {
    color: var(--gris);
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Para el menu desaparecer el menu de hamburguesa ( Uno de los videos que ayuda a entender este menu es: 298. Creando una navegación Responsive )*/
    height: 0;
    opacity: 0;
    display: none; /* si no agrego este display, se quedan permante el uso de los enlaces, para activarlos esta la clase de mostrar tiene un display flex que se agrega al dar click */
}
@media(min-width: 924px) {
    .navegacion {
        display: block;/*desabilitando el display flex*/
        
        /*Para mostrar el menu de hamburguesa*/
        height: auto;
        opacity: 1;
    }
}
.navegacion__link {
    color: var(--blanco);
    font-size: 2.2rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    padding: .5rem;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: .3s;
}
.navegacion__link:last-child {
    margin-bottom: 0;
}
.navegacion__link:hover {
    background-color: var(--blanco);
    color: var(--negro);
}
@media(min-width: 924px) {
    .navegacion__link {
        margin-left: 1rem;
    }
    .navegacion__link:last-child {
        margin-bottom: 0;
    }
}



/* --------------- > NOSOTROS < --------------- */
@media(min-width: 768px) {
    .nosotros__contenido {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    } 
}
.nosotros__icono {
   margin-bottom: calc(var(--espacio) / 2);
}
.nosotros__img {
    width: 12rem;
    height: 12rem;
    margin: 0 auto 1rem auto;
}
.nosotros__titulo {
    font-size: 2.2rem;
}
.nosotros__texto {
    line-height: 1.8;
}



/* --------------- > ANUNCIOS < --------------- */
@media(min-width: 768px) {
    .anuncios__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}
.anuncio {
    margin-bottom: calc(var(--espacio) / 2);
}
@media(min-width: 768px) {
    .anuncio {
        margin-bottom: 0;
    }
}
.anuncio:last-child {
    margin-bottom: 0;
}
.anuncio__img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.anuncio__contenido {
    background-color: var(--gris);
    padding: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.dark-mode .anuncio__contenido {
    background-color: var(--grisOscuro);
}
.anuncio__titulo {
    text-align: center;
    -webkit-line-clamp: 2;
}
.anuncio__descripcion {
    margin: 0 0 1.5rem 0;
    -webkit-line-clamp: 3;
}
.dark-mode .anuncio__icono {
    filter: invert(100%);
}
.anuncio__iconos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.anuncio__iconos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}
.anuncio__icono {
    width: 5rem;   
}
.anuncio__texto {
    margin: 0;
    font-weight: 700;
}
.anuncio__enlace {
    background-color: var(--amarillo);
    display: block;
}
.anuncio__enlace:hover {
    background-color: var(--amarilloOscuro);
}
.anuncios__enlace {
    background-color: var(--verde);
    display: inline-block;
}
.anuncios__enlace:hover {
    background-color: var(--verdeOscuro);
}



/* --------------- > CONTACTAR < --------------- */
.notwebp.notavif .contacto-imagen {
    background-image: url(../src/img/encuentra.jpg);
}
.webp .contacto-imagen {
    background-image: url(../src/img/encuentra.webp);
}
.contacto-imagen {
    /* background-image: url(../src/img/encuentra.jpg); */
    background-position: center;
    background-size: cover;
    padding: calc(var(--espacio) * 2) 0;
    text-align: center;
    color: var(--blanco);
    background-attachment: fixed; /* Efecto de paralax */
}
.contacto-imagen__enlace {
    background-color: var(--amarillo);
    display: inline-block;
}
.contacto-imagen__enlace:hover {
    background-color: var(--amarilloOscuro);
}



/* --------------- > BLOG < --------------- */
.blog__bloque {
    margin-bottom: calc(var(--espacio) / 2);
}
@media(min-width: 768px) {
    .blog__bloque {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}
@media(min-width: 1024px) {
    .blog__bloque:last-child {
        margin-bottom: 0;
    }
}
.blog__img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    max-height: 40rem;
    width: 100%;
    object-fit: cover;
}
@media(min-width: 768px) {
    .blog__img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 2rem;
    }
}
.blog__contenido {
    background-color: var(--gris);
    padding: 2rem;
    border-end-start-radius: 2rem;
    border-end-end-radius: 2rem;
}
@media(min-width: 768px) {
    .blog__contenido {
        border-end-start-radius: 0;
        border-top-right-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.dark-mode .blog__contenido {
    background-color: var(--grisOscuro);
}
.blog__link {
    color: var(--negro);
}
.blog__titulo {
    font-size: 2.4rem;
}
.blog__titulo::after {
    content: '';
    display: block;
    background-color: var(--verde);
    height: .5rem;
    width: 35%;
    border-radius: 1rem;
    margin-top: .5rem;
}
.blog__texto {
    margin: 1.5rem 0;
    -webkit-line-clamp: 5;
}
.blog__texto:last-child {
    margin: 0;
}
.blog__span {
    color: var(--amarillo);
}
.testimonial {
    max-width: 60rem;
    margin: 0 auto;
}
.testimonial__contenido {
    background-color: var(--verde);
    padding: 4rem 3rem;
    color: var(--blanco);
    border-radius: 2rem;
}
.testimonial__blockquote {
    margin: 0 0 2rem 3.5rem;
    font-size: 2.2rem;
    line-height: 1.5;
    position: relative;
}
.testimonial__blockquote::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../src/img/comilla.svg);
    background-repeat: no-repeat;
    background-size: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
    top: -1.2rem;
    left: -4.5rem;
}
.testimonial__texto {
   margin: 0;
   text-align: right;
}
@media(min-width: 1024px) {
    .blog__grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: calc(var(--espacio) / 2);
    }
}



/* --------------- > FOOTER < --------------- */
.footer {
    background-color: var(--grisOscuro);
    padding: var(--espacio) 0;
}
.footer .navegacion {
    height: auto;
    opacity: 1;
    display: flex;
}
@media(min-width: 924px) {
    .footer .navegacion {
        display: block;
    }
}
.footer__copyright {
    margin: calc(var(--espacio) / 2) 0 0 0;
    color: var(--blanco);
    font-size: 2.2rem;
    text-align: center;
}



/* --------------- > PAGINAS INTERNAS < --------------- */
/* NOSOTROS */
@media(min-width: 768px) {
    .nosotros-interna {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
.nosotros-interna__img {
    width: 90%;
    height: 30rem;
    object-fit: cover;
    border: 1rem solid var(--amarillo);
    box-shadow: 13px 13px 3px -8px rgb(0 0 0 / 60%);
    transform: rotate(-6deg);
    margin: 0 auto 4rem auto;
}
@media(min-width: 768px) {
    .nosotros-interna__img {
        margin: calc(var(--espacio) / 2) 0 0 0 ;
    }
}
@media(min-width: 1024px) {
    .nosotros-interna {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}
.nosotros-interna__blockquote {
    margin: 1rem 0 0 0;
    font-weight: 700;
    font-size: 2.2rem;
}

/* ANUNCIOS */
.anuncios-interna .anuncio {
    margin-bottom: calc(var(--espacio) / 2);
}
.anuncios-interna .anuncio:last-child {
    margin-bottom: 0;
}

/* ANUNCIO */
.anuncio-interna__contenido {
    padding: 2rem;
    background-color: var(--gris);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.dark-mode .anuncio-interna__contenido {
    background-color: var(--grisOscuro);
}
.anuncio-interna__img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* BLOG */
@media(min-width: 768px) {
    .blog__articles.blog-interna .blog__bloque:nth-child(odd) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .blog__articles.blog-interna .blog__bloque:nth-child(odd) .blog__contenido {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    .blog__articles.blog-interna .blog__bloque:nth-child(odd) .blog__img {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
    }
}

/* CONTACTO/FORMULARIO */
.formulario-contenedor {
    position: relative;
    margin: -5rem auto 0 auto;
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 2rem;
    max-width: 80rem;
    width: 95%;
}
@media(min-width: 768px) {
    .formulario-contenedor {
        margin: -10rem auto 0 auto;
    }
}
@media(min-width: 1024px) {
    .formulario-contenedor {
        margin: -15rem auto 0 auto;
    }
}
.formulario {
    margin-bottom: 0;
} 
.formulario__heading {
    font-size: 2.8rem;
}
.dark-mode .formulario__heading {
    color: var(--negro);
}
.formulario__img {
    border-radius: 2rem;
    width: 100%;
    max-height: 50rem;
}
.formulario fieldset {
    margin-bottom: 3.5rem;
    border-radius: 2rem;
}
.formulario fieldset:last-of-type {
    margin-bottom: 0;
}
.formulario__legend {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--amarillo);
    color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    width: 80%;
    margin-bottom: .5rem;
}
@media(min-width: 768px) {
    .formulario__legend {
         font-size: 2.2rem;
    }
}
.formulario__bloque {
    margin-bottom: 1.5rem;
}
.formulario__bloque:last-of-type {
    margin-bottom: 0;
}
.formulario__label {
    font-size: 1.6;
    font-weight: 700;
}
.dark-mode label {
    color: var(--negro);
}
@media(min-width: 768px) {
    .formulario__label {
        font-size: 2rem;
        font-weight: 700;
    }
}
.formulario__input {
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--gris);
    border-radius: 1rem;
}
.dark-mode input:not([class$="enlace"]) {
    background-color: var(--blanco);
}
.dark-mode .formulario__input {
    background-color: var(--blanco);
}
.dark-mode textarea {
    background-color: var(--grisOscuro);
}
.dark-mode select {
    background-color: var(--grisOscuro);
}
.radio__bloque {
    display: flex;
    justify-content: space-between;
    max-width: 12rem;
    margin-bottom: 1rem;
}
.radio__bloque:last-child {
    margin-bottom: 0;
}
.radio .formulario__input {
    margin: 0;
    padding: 0;
    width: auto;
}
.formulario__enlace {
    background-color: var(--verde);
    display: block;
    margin: calc(var(--espacio) / 2) auto 0 auto;
    padding: 1rem 5rem;
}
.formulario__enlace:hover {
    background-color: var(--verdeOscuro);
}

/* LOGIN */
.formulario-login__enlace {
    background-color: var(--verde);
    display: block;
    margin: 2rem auto 0 auto;
}
.formulario-login__enlace:hover {
    background-color: var(--verdeOscuro);
}



/* --------------- > PAGINAS DE ADMIN < --------------- */
/* index.php/admin */
.admin-crear__enlace, 
.admin-volver__enlace {
    background-color: var(--verde);
    display: inline-block;
    margin: 0 0 calc(var(--espacio) / 2) 0;
}
.admin-volver__enlace:hover {
    background-color: var(--verdeOscuro);
}
.tabla {
    width: 100%;
    border-spacing: 0;
    font-size: 1rem;
}
@media(min-width: 768px) {
    .tabla {
        font-size: 1.6rem;
    }
}
.tabla thead {
    background-color: var(--verde);
}
.tabla th {
    color: var(--blanco);
    padding: 2rem;
}
.tabla-tr-datos:hover {
    background-color: rgb(0 0 0 / 20%);
}
.dark-mode .tabla-tr-datos:hover {
    background-color: rgb(0 0 0 / 40%);
}
.tabla td {
    text-align: center;
}
.dark-mode .tabla td {
    color: var(--gris);
}
.tabla-img {
    width: 12rem;
    margin: 0 auto;
}
.tabla-align {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem auto;
}
@media(min-width: 768px) {
    .tabla-align {
        max-width: 70%;
    }
}
.tabla-eliminar__enlace,
.tabla-actualizar__enlace {
    margin: 0;
    font-size: .8rem;
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
}
@media(min-width: 768px) {
    .tabla-eliminar__enlace,
    .tabla-actualizar__enlace {
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
    }
}
.tabla-eliminar__enlace {
    background-color: var(--rojo);
}
.tabla-eliminar__enlace:hover {
    background-color: var(--rojoOscuro);
}
.tabla-actualizar__enlace {
    background-color: var(--amarillo);
}
.tabla-actualizar__enlace:hover {
    background-color: var(--amarilloOscuro);
}

/* crear.php */
.formulario-contenedor.admin {
    position: static;
}
.admin-submit__enlace {
    background-color: var(--verde);
    display: block;
    margin: calc(var(--espacio) / 2) auto 0 auto;
}
.admin-submit__enlace:hover {
    background-color: var(--verdeOscuro);
}

/* actualizar.php */
.imagen-actualizar {
    width: 20rem;
    margin-top: 1rem;
}



/* UTILIDADES */
.mostrar {
    /*mostrar el menu de hamburguesa*/
    height: auto;
    opacity: 1;
    display: flex; /*restableciendo el display flex para que funcione el menu en tamaño de mobil y tablet, ya que al pasar de esas resoluciones se pasa a display block automaticamente por el media query*/
}
.mt-5 {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.w-80 {
    max-width: 80rem;
    width: 95%;
    margin: 0 auto;
}
.w-100 {
    max-width: 100rem;
    width: 95%;
    margin: 0 auto;
}
.max-lines {
    /* Mostrar Cierta cantidad de Líneas con puro CSS */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 3; numero de lineas*/
    overflow: hidden;
}
.alerta-texto {
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--gris);
}
.alerta-texto:last-child {
    margin: 0 0 calc(var(--espacio) / 2) 0;
}
.error {
    background-color: var(--rojo);
}
.alerta {
    background-color: var(--amarillo);
}
.exito {
    background-color: var(--verde);
}